<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.srit.listeners.ListenerClass"></listener>



</listeners>
  <test name="Test" thread-count="1" parallel="methods">
    <classes>
    <!--   <class name="com.srit.tests.BaseTest"/>
      <class name="com.srit.tests.HomePage"/> -->
      <class name="com.srit.tests.ResidentCertificate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
